.task {
    width: 95%;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
}

.panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.panel button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.panel button:hover {
    background-color: #0056b3;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.title span,
.date span,
.priority span,
.tags span,
.description span {
    font-weight: bold;
}

.date,
.priority,
.tags,
.description {
    margin-bottom: 10px;
}

.date span,
.priority span,
.tags span,
.description span {
    color: #666;
}

.description {
    white-space: pre-line;
}

.deleteBTN {
    background-color: #e63636;
}

.deleteBTN:hover {
    background-color: #932424;
}

.backBTN {
    margin-right: 0.9vw;
    border: solid gray 1px;
    color: black;
    background-color: rgb(131, 129, 129);
}