.form {
    border: solid lightgrey 2px;
    padding: 10% 8%;
    display: flex;
    background-color: white;
    flex-direction: column;
}

.form>* {
    margin: 4% 0;
}

.form__section {

    margin-bottom: 20px;

}

.form__title {
    color: grey;
    font-weight: bold;
    margin-bottom: 10px;
}

.form__option label {
    display: flex;
    align-items: center;
}

.form__option input[type="checkbox"] {
    margin-right: 8px;
}

.form__option--selected {
    color: blue;
}

@media (max-width:320px) {
    .form {
        font-size: 15px;
        padding: 4% 6%;
        width: 86%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form__section {
        margin: 10px;
    }
}