.sorting {
    border: solid lightgrey 2px;
    padding: 10% 8%;
    display: flex;
    background-color: white;
    flex-direction: column;
}

.sorting>* {
    margin: 4% 0;
}

.sorting__title,
.priority__title {
    color: grey;
}

.sorting__label {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
}

.sorting__label input[type="checkbox"] {
    margin-right: 8px;
}

@media (max-width:320px) {
    .sorting {
        font-size: 15px;
        width: 86%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4% 6%;
    }

    .form__section {
        margin: 8px;
    }
}