.task_manager {
    margin: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7vh;

}

.task_manager__side_bar {
    width: 20%;
}

.task_manager__side_bar>* {
    margin-bottom: 10%;
}

button {
    color: white;
    font-size: medium;
    border: 0;
    width: 200px;
    height: 40px;
    background-color: #1691d0;
    border-radius: 7px;
    cursor: pointer;
}

option {
    cursor: pointer;
}

.task_manager__TODO-list {
    margin: 2%;
    display: flex;
    flex-direction: row;
}

.task_manager__TODO-list>* {
    margin: 0% 2%;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #1691d0;
    background-clip: content-box;
    padding: 3px;
}

input[type="checkbox"]:checked {
    background-color: #1691d0;
}


input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #1691d0;
    background-color: #fff;
}

input[type="radio"]:checked {
    background-color: #1691d0;
}

@media (max-width:320px) {
    .task_manager__side_bar {
        width: 100%;
    }

    .task_manager__TODO-list {
        flex-direction: column;
    }
}